@CHARSET "ISO-8859-1";



.body{
	width:1580px;
	height:800px;
	box-sizing: border-box;
	border:none;
	background-image:url("../img/slide-one.jpg");
	 background-repeat: no-repeat;
	 background-attachment:scroll;
}

