@CHARSET "ISO-8859-1";

*{
	box-sizing: border-box;
}

 input[type=text], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type=radio]{
	width:auto;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

button {
  background-color: rgb(23,132,247);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  float: left;
}

button:hover {
  opacity:1;
}

.resetbtn {
  padding: 14px 20px;
  background-color: #f44336;
}



.form-sub{
  padding: 16px;
}


.form-main{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
 overflow: auto;  
 background-image:url("../img/slide-three.jpg"); 
  padding-top: 50px;
}


.reg-form{
  background-color: #fefefe;
  margin: 5% auto 5% auto;
  border:none;
  width: 80%; 
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.btn::after {
  content: "";
  clear: both;
  display: table;
}

